/* 図形　縦棒 */
.whats-new-entry:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 13px;
    background-color: var(--background-1);
    border: 3px solid var(--text-1);
    border-radius: 10px;
    width: 16px;
    height: 16px;
}

/* 図形　まる */
.whats-new-entry:before {
    content: "";
    background-color: var(--background-6);
    position: absolute;
    top: 17px;
    bottom: -2px;
    left: 20px;
    width: 2px;
}