:root {
    --background-1: #1b1b1b;
    --background-2: #252525;
    --background-3: #222222;
    --background-4: #3d3d3d;
    --background-5: #383838;
    --background-6: #575757;
    --text-1: #ffffff;
    --text-2: #dcdcdc;
    --text-3: #c3c3c3;
    --accent-primary: #50baf9;
    --accent-success: #3eb84f;
    --accent-warning: #b8893e;
    --accent-danger: #cf4945;
    --accent-donate: #db61a2;
    --accent-site-1: #307328;
    --accent-site-2: #296422;
    --accent-sounds-1: #451475;
    --accent-sounds-2: #39155e;
    --accent-sounds-3: #6a08a3;
    --accent-sounds-4: #d1a5e6;
    --nav: #91908f;
    --nav-hover: #b4b3b0;
    --nav-faded: #4d4c4c;
    --nav-faded-hover: #6e6e6e;
    --selection: #445a9599;
    --errors-background: #62190f;
    --errors-background-2: #471610;
    --errors-background-3: #3f140f;
    --errors-text: #ffffffcc;
    --invalid-text: #fd7951;
    --success-background-3: #143f0f;
    --water-background-3: #0d3266;
    --lava-background-3: #662e0d;
    --text-saturation: 60%;
    --text-lightness: 45%;
    --editor-variable: #9CDCFE;
    --editor-string: #CE9178;
    --editor-constant: #569CD6;
    --editor-number: #B5CEA8;
    --diff-added: #3fb950;
    --diff-modified: #d29922;
    --diff-removed: #f85149;
    --diff-renamed: #7d8590;
    --diff-line-added: rgba(46, 160, 67, .15);
    --diff-line-removed: rgba(248, 81, 73, .1);
    --diff-line-separation: rgba(56, 139, 253, .1);
    --diff-numbers-added: rgba(63, 185, 80, .3);
    --diff-numbers-removed: rgba(248, 81, 73, .3);
    --diff-numbers-separation: rgba(56, 139, 253, .4)
}





.legacy-container {
    padding: 16px;
    max-width: 960px;
    margin: 0 auto;
}
.topCard1 {
    margin-bottom: 8px;
    align-items: center;
    padding: 5px 10px;
}

.topCard1 img {
    width: 64px;
    height: 64px;
    margin-right: 8px;
}
img, video {
    max-width: 100%;
    height: auto;
}
img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
    vertical-align: middle;
}


.card-content {
    display: flex;
    flex-direction: column;
}


.card-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    align-items: flex-start;
}
@media screen and (max-width: 580px){
    .card-group {
        grid-template-columns: 1fr;
    }
}

.card-column {
    display: flex;
    flex-direction: column;
}

.navigation+.card-column, .badges-list+.card-column, .navigation+.badges-list {
    margin-top: 8px;
}

*, :before, :after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

.card-column .versionListBoxes>*:not(:last-child) {
    margin-bottom: 8px;
}

.card-column>*:not(:last-child) {
    margin-bottom: 8px;
}

.tool-group {
    display: flex;
    flex-direction: column;
    color: #dcdcdc;
    background-color: #252525;
    box-shadow: 1px 1px 7px -3px #000;
    border-radius: 6px;
}

.tool-card {
    display: flex;
    padding: 10px;
    color: #dcdcdc;
    background-color: #252525;
    border-radius: 6px;
    text-decoration: none;
}




.tool-body .tool-card:hover {
    background-color: var(--background-3);
}

.tool-body {
    display: flex;
    flex-direction: column;
    border-top: 2px solid #1b1b1b;
    padding: 4px 8px;
}

.tool-body>.tool-card {
    box-shadow: none;
    margin-bottom: 0;
}

.tool-card h3 {
    display: flex;
    font-weight: unset;
    align-items: center;
}
.tool-card h3 i {
    color: #dcdcdc;
    fill: currentColor;
    width: 20px;
    height: 20px;
    margin-left: 8px;
    transition: margin .2s;
}

.text-\[1\.17em\] {
    font-size: 1.17em;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
    margin: 0;
}


.card {
    display: block;
    text-decoration: none;
    color: #dcdcdc;
    background-color: #252525;
    padding: 12px;
    border-radius: 6px;
}
.card:hover {
    background-color: var(--background-3);
}






.card-content>*:not(:last-child) {
    margin-bottom: 12px;
}
.badges-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 0;
}
.changelog-content {
    word-wrap: break-word;
}











