:root {
    --background-1: #1b1b1b;
    --background-2: #252525;
    --background-3: #222222;
    --background-4: #3d3d3d;
    --background-5: #383838;
    --background-6: #575757;
    --text-1: #ffffff;
    --text-2: #dcdcdc;
    --text-3: #c3c3c3;
    --accent-primary: #50baf9;
    --accent-success: #3eb84f;
    --accent-warning: #b8893e;
    --accent-danger: #cf4945;
    --accent-donate: #db61a2;
    --accent-site-1: #307328;
    --accent-site-2: #296422;
    --accent-sounds-1: #451475;
    --accent-sounds-2: #39155e;
    --accent-sounds-3: #6a08a3;
    --accent-sounds-4: #d1a5e6;
    --nav: #91908f;
    --nav-hover: #b4b3b0;
    --nav-faded: #4d4c4c;
    --nav-faded-hover: #6e6e6e;
    --selection: #445a9599;
    --errors-background: #62190f;
    --errors-background-2: #471610;
    --errors-background-3: #3f140f;
    --errors-text: #ffffffcc;
    --invalid-text: #fd7951;
    --success-background-3: #143f0f;
    --water-background-3: #0d3266;
    --lava-background-3: #662e0d;
    --text-saturation: 60%;
    --text-lightness: 45%;
    --editor-variable: #9CDCFE;
    --editor-string: #CE9178;
    --editor-constant: #569CD6;
    --editor-number: #B5CEA8;
    --diff-added: #3fb950;
    --diff-modified: #d29922;
    --diff-removed: #f85149;
    --diff-renamed: #7d8590;
    --diff-line-added: rgba(46, 160, 67, .15);
    --diff-line-removed: rgba(248, 81, 73, .1);
    --diff-line-separation: rgba(56, 139, 253, .1);
    --diff-numbers-added: rgba(63, 185, 80, .3);
    --diff-numbers-removed: rgba(248, 81, 73, .3);
    --diff-numbers-separation: rgba(56, 139, 253, .4)
}




/* orangeBox */
.badge {
    --color: hsl(var(--tint, 0), var(--text-saturation), var(--text-lightness));
    display: flex;
    align-items: center;
    margin-right: 8px;
    border: 1.5px solid var(--color);
    height: 24px;
    border-radius: 12px;
    padding: 0 8px;
    color: var(--color);
    fill: var(--color);
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}